<div *ngIf="resource">
  <div class="page-header">
      <a routerLink="/resources" class="btn btn-link pull-right">
        <i class="fas fa-angle-double-left"></i>&nbsp;
        Show All Resources
      </a>
      <h1>Resource #{{resource.id}}</h1>
  </div>

  <div [hidden]="!submitted" class="alert alert-success" role="alert">
    Your resource has been updated successfully.
  </div>

  <form #resourceForm='ngForm'>
    <div class="form-group">
      <label for="resource-title">Title</label>
      <input type="text" class="form-control" id="title" required name="title" #title='ngModel' [(ngModel)]='resource.title'>
      <div [hidden]="title.valid ||   title.pristine" class="alert alert-danger">Field is required</div>
    </div>

    <div *ngFor="let property of resource.properties_attributes">
      <pre *ngIf="debug">{{ property.value | json }}</pre>
      <div class="form-group">
        <label *ngIf="property.label" for="resource-title">{{property.label}}</label>
        <input *ngIf="property.type == 'string'" type="text" class="form-control" required name="{{property.label}}" #{{property.label}}='ngModel' [(ngModel)]='property.value'>
        <textarea *ngIf="property.type == 'text'" name="{{property.label}}" #{{property.label}}='ngModel' [(ngModel)]='property.value' class="form-control" rows="3"></textarea>
      </div>
    </div>

    <br>
    <div class="panel panel-default">
      <div class="panel-heading">Add New Property</div>
      <div class="panel-body">
        <div class="form-group">
          <label>Label:</label>
          <input type="text" class="form-control" #propertyLabel />
        </div>
        <div class="form-group">
          <label>Type: </label>
          <select class="form-control" #propertyType>
            <option>-- Select an Option --</option>
            <option value="string">Input Field</option>
            <option value="text">Text Area</option>
          </select>
        </div>
        <button (click)="addProperty(propertyType.value, propertyLabel.value)" class="btn btn-default">Add</button>
      </div>
    </div>

    <pre *ngIf="debug">{{resource | json}}</pre>
    <br><hr>
    <button type="submit" (click)="update(resource)" class="btn btn-primary" [disabled]="!resourceForm.form.valid">Update Resource</button>
    <a routerLink="/resources" class="btn btn-link">Cancel</a>
  </form>
</div>