<div class="page-header">
  <a routerLink="/resources/new" class="btn btn-primary pull-right">
    <i class="fas fa-plus-square"></i>&nbsp;
    New Resource
  </a>
  <h1>Resources</h1>
</div>

<table class="table table-striped">
  <th>ID</th>
  <th>Title</th>
  <th>Created At</th>
  <tr *ngFor="let resource of resources">
    <td>{{resource.id}}</td>
    <td><a [routerLink]="[resource.id]">{{resource.title}}</a></td>
    <td>{{resource.created_at | date}}</td>
    <td>
      <a href="#" (click)="delete(resource)">
        <i class="fas fa-trash-alt"></i>&nbsp;
        Delete
      </a>
    </td>
  </tr>
</table>
