<div *ngIf="resource">
  <div class="page-header">
      <a routerLink="/resources" class="btn btn-link pull-right">
        <i class="fas fa-angle-double-left"></i>&nbsp;
        Show All Resources
      </a>
      <h1>Resource #{{resource.id}}</h1>
  </div>

  <div [hidden]="!submitted" class="alert alert-success" role="alert">
    Your resource has been updated successfully.
  </div>

  <form #resourceForm='ngForm'>
    <div class="form-group">
      <label for="resource-title">Title</label>
      <input type="text" class="form-control" id="title" required name="title" #title='ngModel' [(ngModel)]='resource.title'>
      <div [hidden]="title.valid ||   title.pristine" class="alert alert-danger">Field is required</div>
    </div>

    <div class="form-group">
      <label for="resource-title">Template</label>
      <input type="text" class="form-control" id="template_filename" required name="template_filename" #template_filename='ngModel' [(ngModel)]='resource.template_filename'>
      <div [hidden]="template_filename.valid || template_filename.pristine" class="alert alert-danger">Field is required</div>
    </div>

    <div class="form-group">
      <label for="resource-title">Subtitle</label>
      <input type="text" class="form-control" id="subtitle" required name="subtitle" #subtitle='ngModel' [(ngModel)]='resource.subtitle'>
      <div [hidden]="subtitle.valid || subtitle.pristine" class="alert alert-danger">Field is required</div>
    </div>

    <pre>{{resource|json}}</pre>

    <br><hr>
    <button type="submit" (click)="update(resource)" class="btn btn-primary" [disabled]="!resourceForm.form.valid">Update Resource</button>
    <a routerLink="/resources" class="btn btn-link">Cancel</a>
  </form>
</div>